%section.int-lif
  .container
    .row
      .col-lg-8.col-md-12
        .row
          .col-md-6
            .int-news
              .sec-title
                %h5 International
              .int-slider.owl-carousel
                .int-item
                  .int-lg
                    = image_tag 'int-1.jpg', class: 'img-fluid'
                    .int-layer
                      %p
                        %a{:href => ""} It is usually composed of several sentences that together develop one.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item International
                        %li.list-inline-item February 11, 2019
                  .int-list.d-flex
                    .int-img
                      %a{:href => ""}
                        = image_tag 'lt-sm-5.jpg'
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %span February 11, 2019
                  .int-list.d-flex
                    .int-img
                      %a{:href => ""}
                        = image_tag 'lt-sm-11.jpg'
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %span February 11, 2019
                  .int-list.d-flex
                    .int-img
                      %a{:href => ""}
                        = image_tag 'lt-sm-12.jpg'
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %span February 11, 2019
                .int-item
                  .int-lg
                    = image_tag 'int-2.jpg', class: 'img-fluid'
                    .int-layer
                      %p
                        %a{:href => ""} It is usually composed of several sentences that together develop one.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item International
                        %li.list-inline-item February 11, 2019
                  .int-list.d-flex
                    .int-img
                      %a{:href => ""}
                        = image_tag 'lt-sm-9.jpg'
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %span February 11, 2019
                  .int-list.d-flex
                    .int-img
                      %a{:href => ""}
                        = image_tag 'lt-sm-12.jpg'
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %span February 11, 2019
                  .int-list.d-flex
                    .int-img
                      %a{:href => ""}
                        = image_tag 'lt-sm-7.jpg'
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %span February 11, 2019
          .col-md-6
            .ls-news
              .sec-title
                %h5 Lifestyle
              .int-slider.owl-carousel
                .ls-item
                  .ls-lg
                    = image_tag 'ls-1.jpg', class: 'img-fluid'
                    .ls-layer
                      %p
                        %a{:href => ""} It is usually composed of several sentences that together develop one.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item Lifestyle
                        %li.list-inline-item February 11, 2019
                  .ls-list.d-flex
                    .ls-img
                      %a{:href => ""}
                        = image_tag 'lt-sm-4.jpg'
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %span February 11, 2019
                  .ls-list.d-flex
                    .ls-img
                      %a{:href => ""}
                        = image_tag 'lt-sm-8.jpg'
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %span February 11, 2019
                  .ls-list.d-flex
                    .ls-img
                      %a{:href => ""}
                        = image_tag 'lt-sm-10.jpg'
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %span February 11, 2019
                .ls-item
                  .ls-lg
                    = image_tag 'ls-2.jpg', class: 'img-fluid'
                    .ls-layer
                      %p
                        %a{:href => ""} It is usually composed of several sentences that together develop one.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item International
                        %li.list-inline-item February 11, 2019
                  .ls-list.d-flex
                    .ls-img
                      %a{:href => ""}
                        = image_tag 'lt-sm-3.jpg'
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %span February 11, 2019
                  .ls-list.d-flex
                    .ls-img
                      %a{:href => ""}
                        = image_tag 'lt-sm-5.jpg'
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %span February 11, 2019
                  .ls-list.d-flex
                    .ls-img
                      %a{:href => ""}
                        = image_tag 'lt-sm-4.jpg'
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %span February 11, 2019
          .col-md-12
            .more-news
              .sec-title
                %h5 More News
              .more-slider.owl-carousel
                .more-item
                  .more-content.d-flex
                    .more-img
                      %a{:href => "#"}
                        = image_tag 'more-1.jpg'
                    .img-content
                      %h6
                        %a{:href => ""} These sentences are selected from various online news.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item Life Style
                        %li.list-inline-item February 11, 2019
                      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque labore, quam voluptatibus ipsum. Exde tenetur, quasi, provident animi magni voluptas fugit Itaque labore quae ad........
                  .more-content.d-flex
                    .more-img
                      %a{:href => "#"}
                        = image_tag 'more-2.jpg'
                    .img-content
                      %h6
                        %a{:href => ""} These sentences are selected from various online news.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item Sports
                        %li.list-inline-item February 11, 2019
                      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque labore, quam voluptatibus ipsum. Exde tenetur, quasi, provident animi magni voluptas fugit Itaque labore quae ad........
                  .more-content.d-flex
                    .more-img
                      %a{:href => "#"}
                        = image_tag 'more-3.jpg'
                    .img-content
                      %h6
                        %a{:href => ""} These sentences are selected from various online news.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item Health
                        %li.list-inline-item February 11, 2019
                      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque labore, quam voluptatibus ipsum. Exde tenetur, quasi, provident animi magni voluptas fugit Itaque labore quae ad........
                  .more-content.d-flex
                    .more-img
                      %a{:href => "#"}
                        = image_tag 'more-4.jpg'
                    .img-content
                      %h6
                        %a{:href => ""} These sentences are selected from various online news.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item Fashion
                        %li.list-inline-item February 11, 2019
                      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque labore, quam voluptatibus ipsum. Exde tenetur, quasi, provident animi magni voluptas fugit Itaque labore quae ad........
                .more-item
                  .more-content.d-flex
                    .more-img
                      %a{:href => "#"}
                        = image_tag 'more-5.jpg'
                    .img-content
                      %h6
                        %a{:href => ""} These sentences are selected from various online news.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item Life Style
                        %li.list-inline-item February 11, 2019
                      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque labore, quam voluptatibus ipsum. Exde tenetur, quasi, provident animi magni voluptas fugit Itaque labore quae ad........
                  .more-content.d-flex
                    .more-img
                      %a{:href => "#"}
                        = image_tag 'more-6.jpg'
                    .img-content
                      %h6
                        %a{:href => ""} These sentences are selected from various online news.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item Health
                        %li.list-inline-item February 11, 2019
                      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque labore, quam voluptatibus ipsum. Exde tenetur, quasi, provident animi magni voluptas fugit Itaque labore quae ad........
                  .more-content.d-flex
                    .more-img
                      %a{:href => "#"}
                        = image_tag 'more-7.jpg'
                    .img-content
                      %h6
                        %a{:href => ""} These sentences are selected from various online news.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item Sports
                        %li.list-inline-item February 11, 2019
                      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque labore, quam voluptatibus ipsum. Exde tenetur, quasi, provident animi magni voluptas fugit Itaque labore quae ad........
                  .more-content.d-flex
                    .more-img
                      %a{:href => "#"}
                        = image_tag 'more-8.jpg'
                    .img-content
                      %h6
                        %a{:href => ""} These sentences are selected from various online news.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item Technology
                        %li.list-inline-item February 11, 2019
                      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque labore, quam voluptatibus ipsum. Exde tenetur, quasi, provident animi magni voluptas fugit Itaque labore quae ad........
      .col-lg-4.col-md-0
        .row
          .col-md-12
            .add-widget
              = image_tag 'add1.jpg', class: 'img-fluid'
              .add-layer.text-center
                %p Best Template For Your Online News
                %a{:href => ""} Buy Now
          .col-md-12
            .mv-widget
              .sec-title
                %h5 Most Viewed
              .mv-slider.owl-carousel
                .mv-item
                  .mv-box.d-flex
                    .mv-img
                      %a{:href => ""}
                        = image_tag 'lt-sm-3.jpg'
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                  .mv-box.d-flex
                    .mv-img
                      %a{:href => ""}
                        = image_tag 'lt-sm-8.jpg'
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                  .mv-box.d-flex
                    .mv-img
                      %a{:href => ""}
                        = image_tag 'lt-sm-9.jpg'
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                  .mv-box.d-flex
                    .mv-img
                      %a{:href => ""}
                        = image_tag 'lt-sm-12.jpg'
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                .mv-item
                  .mv-box.d-flex
                    .mv-img
                      %a{:href => ""}
                        = image_tag 'lt-sm-6.jpg'
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                  .mv-box.d-flex
                    .mv-img
                      %a{:href => ""}
                        = image_tag 'lt-sm-11.jpg'
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                  .mv-box.d-flex
                    .mv-img
                      %a{:href => ""}
                        = image_tag 'lt-sm-7.jpg'
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                  .mv-box.d-flex
                    .mv-img
                      %a{:href => ""}
                        = image_tag 'lt-sm-4.jpg'
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
          .col-md-12
            .login-widget
              .sec-title
                %h5 Log In
              %form.login{:action => "#"}
                %input{:name => "email", :placeholder => "Enter your email", :required => "", :type => "text", :value => ""}/
                %input{:name => "password", :placeholder => "Enter password", :required => "", :type => "text", :value => ""}/
                %button{:name => "button", :type => "button"} Enter
          .col-md-12
            .app-widget
              = image_tag 'news-app.jpg', class: 'img-fluid app-img'
              .img-content
                %h4 Stay Connected
                %p Download our app and get latest news and updates. Watch live news anytime.
